<form class="search-form">
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Search git users with username" [(ngModel)]="username" name="username" (keyup)="getProfile()">
	</div>
</form>
<div *ngIf="profile">
	 <div class="row">
      <div class="col-md-4">
        <img [src]="profile.avatar">
      </div>
      <div class="col-md-8">
        <div class="card">
          <h3><strong>{{profile.username}}</strong></h3>
          <h6><strong>Bio: </strong> <em>{{profile.bio}}</em></h6>
          <h6><strong>Name: </strong> <em>{{profile.name}}</em></h6>
          <h6><strong>Repositories: </strong> <em>{{profile.repositories}}</em></h6>
          <h6><strong>Followers: </strong> <em>{{profile.followers}}</em></h6>
          <h6><strong>Following: </strong> <em>{{profile.following}}</em></h6>
          <button class="btn btn-warning"><a [href]="profile.link" target="_blank">Visit GitHub Page</a></button>
        </div>
      </div>
    </div>
</div>
